<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<section id="steps">
  <div class="wrapper">
    <ul>
      <li id="step-1">
        <h4>Planifier</h4>
        <p> confiez nous vos reve en voyagant a bord de nos secoupe volante securisé</p>
      </li>
      <li id="step-2">
        <h4>Planifier</h4>
        <p> decouvrez le confort de la rapidité a bord des differentes constellation</p>
      </li>
      <li id="step-3">
        <h4>Planifier</h4>
        <p> retrouvez vos famille et vos amis qui se trouve meme a des années lumiere</p>
      </li>
    </ul>
  </div>
</section>
